<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                el: '#app',
                data: {},
                methods: {
                    // getData: async function () {
                    //     const response = await fetch('https://dining-services-batch-495348054234.s3-us-west-2.amazonaws.com/dining/MTC/' + this.date.replace(/-/gi, ''))
                    //     const data = await response.json();
                    //     this.items = data;
                    // }
                },
                created: function () {
                },
                computed: {
                    // meals: function () {
                    //     if (this.meal === 'Breakfast') {
                    //         return this.items[0];
                    //     }
                    //     else if (this.meal === 'Lunch') {
                    //         return this.items[1];
                    //     }
                    //     else {
                    //         return this.items[2];
                    //     }
                    // },
                    // allergens_exculded: function () {
                    //     return this.excludeAllergen;
                    // }
                },
                mounted() {
                    // this.getData();
                    // this.contentLoaded = true;
                }
            })
        })
    </script>
    <style>
    </style>
</head>
<body>
    <div id="app">

    </div>
</body>
</html>